* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 98%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
}

p, button, nav {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 18px;
}